<!DOCTYPE html>
<html>
<head>
  <title>Planespot Assistant</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Noto Sans', sans-serif;}

  .photo {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0)),
      url('{{ url_for("static", filename="daniel-eledut-unsplash-b787.jpg") }}');
      width: 100%;
      height: 426px;
      padding: 20px;
    }
  </style>

  <style>
	html, body {
	  height: 100%;
	  margin: 0;
	}
	.leaflet-container {
	  height: 400px;
	  width: 600px;
	  max-width: 100%;
	  max-height: 100%;
	}

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  </style>
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top w3-margin-bottom" style="max-width:2100px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
	<!-- Left Column -->
	<div class="w3-third">

	  <div class="w3-white w3-text-grey w3-card w3-padding-16">
		  <div class="w3-container">
		    <h1 class="w3-text-grey w3-padding-16">Planespotting Assistant</h1>
		  </div>
      <div class="w3-container">
        <form id="airportForm">
          <label for="icao"><h4>Airport ICAO Code:</h4></label>
		    <input type="text" id="icao" name="icao" required>
		    <br>
		    <button type="submit">Set Airport</button>
		  </form>
      </div>

      <div class="w3-container">
        <h3><b>OR</b></h3>
      </div>

      <div class="w3-container">
        <form id="locationForm">
          <h4><label for="locationPerm">Use Current Location:</label></h4>
          <button type="button" onclick="updateDeviceLocation()" id="locationPerm" name="locationPerm">Allow Location</button>
        </form>
      </div>

	  </div>
    <br>
    <div class="w3-white w3-text-grey w3-card w3-padding-16">
      <div class="w3-container">
        <h3>Current Plane:</h3>
      </div>

      <div class="w3-display-container" style="margin: 2.5%">
        <div class="photo">
          <div class="w3-display-bottomleft w3-container">
            <h2 id="bigreg">SELECT</h2>
            <h4>Photo by <a href="https://unsplash.com/@pixtolero2?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Daniel Eledut</a> on <a href="https://unsplash.com/photos/qfPuby0S040?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </h4>
          </div>
          </div>
      </div>
      <div class="w3-container">
        <table class="w3-center" style="width:100%">
          <tr>
            <th>Registration:</th>
            <th id="reg">SELECT</th>
          </tr>
          <tr>
            <th>Model:</th>
            <th id="mod">Model</th>
          </tr>
          <tr>
            <th>Altitude (ft):</th>
            <th id="alt">Altitude</th>
          </tr>
          <tr>
            <th>Horizontal Speed (kts):</th>
            <th id="hspeed">H. Speed</th>
          </tr>
          <tr>
            <th>Vertical Speed (ft/s):</th>
            <th id="vspeed">V. Speed</th>
          </tr>
          <tr>
            <th>Heading (&deg;):</th>
            <th id="head">Heading</th>
          </tr>
          <tr>
            <th>Departure:</th>
            <th id="dep">N/A</th>
          </tr>
          <tr>
            <th>Arrival:</th>
            <th id="arv">N/A</th>
          </tr>
        </table>
      </div>
    </div>

    <div class="w3-white w3-text-grey w3-card w3-padding-16">
      <div class="w3-container">
        <h3>Weather/Conditions: </h3>
      </div>
      <div class="w3-container">
        <table style="width:100%">
          <tr>
            <th>Temperature (&deg;F):</th>
            <th id="temp">0</th>
          </tr>
          <tr>
            <th>Rain:</th>
            <th id="rain">0</th>
          </tr>
          <tr>
            <th>Visibility (mi):</th>
            <th id="vis">0</th>
          </tr>
        </table>
      </div>
    </div>
	<!-- End Left Column -->
	</div>

	<!-- Right Column -->
	<div class="w3-twothird">

    <div class="w3-text-grey w3-card w3-white">
      <table style="width:100%">
        <tr>
          <th>Select Relative Location:</th>
          <th><button type="button" id="loc" name="loc">Get Location</button></th>
          <th id="horiz">0.00&deg;</th>
          <th id="vert">0.00&deg;</th>
        </tr>
      </table>
    </div>
	  <div class="w3-text-grey w3-card w3-white">
		  <div id="map" style="width: 100%; height: 1225px; margin-top: 16px; margin-bottom: 16px"></div>
		  <script src="../static/scripts.js"></script>
	  </div>

	<!-- End Right Column -->
	</div>

  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

</body>
</html>
